<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect all requests to index.php in the public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    # Laravel public folder default rules
    <IfModule mod_dir.c>
        DirectoryIndex index.php
    </IfModule>
</IfModule>
